iframe{
    width: 100%;
    height: 210px;
    border: none;
}

.mdl-dialog{
    width: 40%;
    z-index: 999999;
}

html, body, .page-content{ 
    height: 100%;
}

header{
    height: 10%;
}

main{
    height: 90%;
}